/*
Written by Georgi Olentsenko for CellLife project
Started 2018-09-08
*/

.loader {
  border: 5px solid #347FE0;          /*Blue, world color*/
  border-bottom: 5px solid #00ff00;      /*Green, plant color*/
  border-right: 5px solid #ffff00;    /*Yellow, herbivore color*/
  border-top: 5px solid #ff0000;   /*Red, carnivore color*/
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

#active_loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: grid;}

/* The container <div> - needed to position the dropdown content */
.dropside {
  float: right;
  background-color: #f1f1f1;
  text-align: right;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

.dropside a{
  float: right;
  min-width: 75px;
}

/* Dropdown Content (Hidden by Default) */
.dropside-content {
  display: none;
  position: absolute;
  left: 95px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropside-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change color of dropside links on hover */
.dropside-content a:hover {background-color: #ddd;}

/* Show the dropside menu on hover */
.dropside:hover .dropside-content {display: block;}

/* Start/Pause color change on hover */
#pause-button:hover {
  background-color: #ff0000;
  transition: all 1s;
}

#start-button:hover {
  background-color: #00ff00;
  transition: all 1s;
}

#world {
  border: 2px solid #333;
  display: block;
}

#status_bar {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  padding: 2px;
}