/*
Written by Georgi Olentsenko for CellLife project
Started 2018-09-08
*/

#button {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 12px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.startbutton {
	background-color: #FE9205;
}

.stopbutton {
	background-color: #4CAF50;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
	
#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

.stopbutton:hover {
	background-color: #F43727;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add a color to the active/current link */
#status {
    background-color: #00ff00;
    color: black;
}
